<div th:if="${#fields.hasAnyErrors()}">
  <ul>
    <li th:each="error : ${#fields.allErrors()}" th:text="${error}" />
  </ul>
</div>
<label for="title">Title</label>
<input type="text" th:field="*{title}" id="title" placeholder="Title">
<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
<label for="website">Website</label>
<input type="text" th:field="*{website}" id="website" placeholder="">
<span th:if="${#fields.hasErrors('website')}" th:errors="*{website}"></span>
<label for="description">Description</label>
<input type="text" th:field="*{description}" id="description" placeholder="Description">
<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
<label for="moved">Moved</label>
<input type="text" th:field="*{moved}" id="moved" placeholder="0">
<span th:if="${#fields.hasErrors('moved')}" th:errors="*{moved}"></span>
<label for="active">Active</label>
<input type="checkbox" th:field="*{active}" id="active">
<span th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></span>