<!DOCTYPE HTML>
<html th:replace="~{layouts/settings :: settings(~{::title}, ~{::meta}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" name="description"/>
    <meta content="HTML, CSS, JavaScript" name="keywords">
  </head>
  <body>
    <div id="content">
        <h1>Tenant</h1>
        <ul class="html-view">
          <li>
            <p>Title</p>
            <p th:text="${tenantDto.title}"></p>
          </li>
          <li>
            <p>Description</p>
            <p th:text="${tenantDto.description}"></p>
          </li>
        </ul>
      <p><a href="/settings/tenants">View all tenants</a></p>
    </div>
  </body>
</html>
