# See http://www.robotstxt.org/robotstxt.html for documentation on how to use the robots.txt file
#

Host: https://{{ app__domain }}
Sitemap: https://{{ app__domain }}/sitemap.xml.gz
User-Agent: *
Allow: /system/blog_articles
Allow: /system/package_files
Allow: /system/user_avatars
Disallow: /try-
Disallow: /ru/try-
Disallow: /parental-control-software
Disallow: /ru/parental-control-software
Disallow: /system
Disallow: /schemas
Disallow: /backoffice
Disallow: /ru/backoffice
Disallow: /frontoffice
Disallow: /ru/frontoffice
Disallow: /htmlerrors
Disallow: /ru/htmlerrors
Disallow: /login
Disallow: /ru/login
Disallow: /en/
Disallow: /ru/usd
Disallow: /ru/gbp
Disallow: /ru/eur
Disallow: /work-time-control
Disallow: /ru/work-time-control
Disallow: /computer-time-tracker
Disallow: /ru/computer-time-tracker
Disallow: /employee-time-tracking
Disallow: /ru/employee-time-tracking
Disallow: /personnel-time-tracking
Disallow: /ru/personnel-time-tracking
Disallow: /freelancer-time-tracking
Disallow: /ru/freelancer-time-tracking
Disallow: /tracking-employee-productivity
Disallow: /ru/tracking-employee-productivity
Disallow: /staff-monitoring
Disallow: /ru/staff-monitoring
Disallow: /remote-employee-monitoring
Disallow: /ru/remote-employee-monitoring
Disallow: /service/use-cases/employee-tracking
Disallow: /ru/service/use-cases/employee-tracking
Disallow: /service/use-cases/employee-monitoring
Disallow: /ru/service/use-cases/employee-monitoring
Disallow: /service/use-cases/computer-monitoring
Disallow: /ru/service/use-cases/computer-monitoring
Disallow: /service/features/time-tracker
Disallow: /ru/service/features/time-tracker
Disallow: /service/features/screenshots
Disallow: /ru/service/features/screenshots
Disallow: /service/features/snapshots
Disallow: /ru/service/features/snapshots
Disallow: /service/features/apps-sites-tracker
Disallow: /ru/service/features/apps-sites-tracker
