<div th:if="${#fields.hasAnyErrors()}">
  <ul>
    <li th:each="error : ${#fields.allErrors()}" th:text="${error}" />
  </ul>
</div>
<label for="radar_id">Radar</label>
<select id="radar_id" name="radar_d" th:field="*{radar.id}">
  <option th:each="radarDto : ${radarDtos}" th:value="${radarDto.id}" th:utext="${radarDto.title}"/>
</select>
<label for="segment_id">Segment</label>
<select  id="segment_id" name="segment_id" th:field="*{segment.id}" >
  <option th:each="segmentDto : ${segmentDtos}" th:value="${segmentDto.id}" th:utext="${segmentDto.title}"/>
</select>
<label for="ring_id">Ring</label>
<select  id="ring_id" name="ring_id" th:field="*{ring.id}" >
  <option th:each="ringDto : ${ringDtos}" th:value="${ringDto.id}" th:utext="${ringDto.title}"/>
</select>
<label for="entry_id">Entry</label>
<select  id="entry_id" name="entry_id" th:field="*{technology.id}" >
  <option th:each="technologyDto : ${entryDtos}" th:value="${technologyDto.id}" th:utext="${technologyDto.title}"/>
</select>