<!DOCTYPE HTML>
<html th:replace="~{layouts/exception :: exception(~{::title}, ~{::meta}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${errorCode} + ': ' + ${errorMsg}"/>
    <meta name="description" content="Page description"/>
    <meta name="keywords" content="HTML, CSS, JavaScript">
  </head>
  <body>
    <div id="content">
      <h1 th:text="${errorMsg}"/>
      <div th:switch="${#strings.isEmpty(backTrace)}">
        <p th:case="true">No backtrace.</p>
        <div th:case="*">
          <h2>Backtrace</h2>
          <p th:text="${backTrace}"/>
        </div>
      </div>
    </div>
  </body>
</html>
