<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragments/welcome_head.html}"></head>
    <body>
        <navbar th:insert="~{fragments/main_navbar.html}"></navbar>
        <header th:insert="~{fragments/main_header.html}"></header>
        <div th:replace="~{fragments/system_flash.html}"></div>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col py-3">
                    <div layout:fragment="content"/>
                </div>
            </div>
        </div>
        <footer th:insert="~{fragments/main_footer.html}"></footer>
    </body>
</html>
