<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:insert="~{fragments/head.html}"> </head>
    <body>
        <navbar th:insert="~{fragments/navbar.html}"> </navbar>
        <header th:insert="~{fragments/header.html}"> </header>
        <main class="my-5">
            <div class="container">
                <div layout:fragment="system_flash" />
                <div layout:fragment="content" />
            </div>
        </main>
        <footer th:insert="~{fragments/footer.html}"> </footer>
    </body>
</html>
