<!DOCTYPE html>
<html th:fragment="account (title, metas, content)" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:replace="${title}">Layout title</title>
    <th:block th:insert="~{fragments/google_analytics.html}"/>
    <th:block th:insert="~{fragments/meta_information.html}"/>
    <th:block th:replace="${metas}"/>
  </head>
  <body>
    <navbar th:insert="~{fragments/main_navbar.html}"></navbar>
    <div th:replace="~{fragments/system_flash.html}"></div>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div th:replace="~{fragments/account_sidebar.html}"></div>
        <div class="col py-3">
          <div th:replace="${content}">
          </div>
        </div>
      </div>
      <footer th:insert="~{fragments/main_footer.html}"></footer>
  </body>
</html>
