<!DOCTYPE html>
<html th:fragment="home (title, metas, links, scripts, content)" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:replace="${title}">Layout title</title>

    <meta charset="utf-8"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <th:block th:replace="${metas}" />

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <th:block th:replace="${links}" />

    <script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script defer th:src="@{/js/app.js}"></script>
    <th:block th:replace="${scripts}" />
  </head>
  <body>
    <navbar th:insert="~{fragments/main_navbar.html}"></navbar>
    <header th:insert="~{fragments/main_header.html}"></header>
    <div th:replace="~{fragments/system_flash.html}"></div>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col py-3">
          <div th:replace="${content}">
            <h1>Layout content</h1>
          </div>
        </div>
      </div>
    </div>
    <footer th:insert="~{fragments/main_footer.html}"></footer>
  </body>
</html>


fuck
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/main_head.html}"></head>
  <body>
    <navbar th:insert="~{fragments/main_navbar.html}"></navbar>
    <header th:insert="~{fragments/main_header.html}"></header>
    <div th:replace="~{fragments/main_tabbar.html}"></div>
    <div th:replace="~{fragments/system_flash.html}"></div>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col py-3">
          <div layout:fragment="content"/>
        </div>
      </div>
    </div>
    <footer th:insert="~{fragments/main_footer.html}"></footer>
  </body>
</html>
