<!DOCTYPE html>
<html lang="en" th:fragment="home (title, metas, scripts, content)" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:replace="${title}">Layout title</title>
    <th:block th:insert="~{fragments/google_analytics.html}"/>
    <th:block th:insert="~{fragments/meta_information.html}"/>
    <th:block th:replace="${metas}"/>
    <th:block th:replace="${scripts}"/>
  </head>
  <body>
    <th:block th:insert="~{fragments/yandex_metrika.html}"/>
    <navbar th:insert="~{fragments/main_navbar.html}"></navbar>
    <div th:replace="~{fragments/system_flash.html}"></div>
    <div class="container-fluid full-container">
      <div class="row flex-nowrap">
        <div class="col">
          <div th:replace="${content}">
            <h1>Layout content</h1>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="~{fragments/main_footer.html}"></footer>
  </body>
</html>
