<div th:if="${#fields.hasErrors('global')}" class="error-wrapper">
  <ul>
    <li th:each="error : ${#fields.errors('global')}" th:text="${error}" />
  </ul>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-6 my-1">
    <label for="radar_id" class="label-field">Radar</label>
    <select id="radar_id" class="field-wrapper" name="radar_id" th:field="*{radarId}">
      <option th:each="radarDto : ${radarDtos}" th:value="${radarDto.id}" th:utext="${radarDto.title}"/>
    </select>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-6 my-1">
    <label for="title" class="label-field">Title</label>
    <input type="text" th:field="*{title}" id="title" class="field-wrapper" placeholder="Title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-field-wrapper"></span>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-6 my-1">
    <label for="description" class="label-field">Description</label>
    <input type="text" th:field="*{description}" id="description" class="field-wrapper" placeholder="Description">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error-field-wrapper"></span>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-6 my-1">
    <label for="position" class="label-field">Position</label>
    <input type="text" th:field="*{position}" id="position" class="field-wrapper" placeholder="0">
    <span th:if="${#fields.hasErrors('position')}" th:errors="*{position}" class="error-field-wrapper"></span>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-6 my-1">
    <input type="checkbox" th:field="*{active}" id="active" class="check-wrapper me-1">
    <label for="active">Active</label>
    <span th:if="${#fields.hasErrors('active')}" th:errors="*{active}" class="error-field-wrapper"></span>
  </div>
</div>