<!DOCTYPE HTML>
<html th:replace="~{layouts/settings :: settings(~{::title}, ~{::meta}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" name="description"/>
    <meta content="HTML, CSS, JavaScript" name="keywords">
  </head>
  <body>
    <div id="content">
      <div th:switch="${blips}">
        <h1 th:case="null">No blips yet!</h1>
        <div th:case="*">
          <h1>Blips</h1>
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="blip : ${blips}">
                <td th:text="${blip.title}"></td>
                <td th:text="${blip.description}"></td>
                <td><a th:href="@{/settings/blips/show/{id}(id=${blip.id})}">Show</a></td>
                <td><a th:href="@{/settings/blips/edit/{id}(id=${blip.id})}">Edit</a></td>
                <td><a th:href="@{/settings/blips/delete/{id}(id=${blip.id})}">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p><a href="/settings/blips/add">Add a new blip</a></p>
      </div>
    </div>
  </body>
</html>
