<!DOCTYPE HTML>
<html th:replace="~{layouts/settings :: settings(~{::title}, ~{::meta}, ~{}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" name="description"/>
    <meta content="HTML, CSS, JavaScript" name="keywords">
  </head>
  <body>
    <div id="content">
      <h1 class="wrapper-title">Ring</h1>
      <div class="wrapper-content">
        <ul class="ul-show-wrapper">
          <li>
            <p>Title</p>
            <p th:text="${ringDto.title}"></p>
          </li>
          <li>
            <p>Description</p>
            <p th:text="${ringDto.description}"></p>
          </li>
          <li>
            <p>Priority</p>
            <p th:text="${ringDto.position}"></p>
          </li>
          <li>
            <p>Color</p>
            <p th:text="${ringDto.color}"></p>
          </li>
          <li>
            <p>Active</p>
            <p th:text="${ringDto.active}"></p>
          </li>
        </ul>
        <p><a href="/settings/rings" class="btn-blue-wrapper">View all rings</a></p>
      </div>
    </div>
  </body>
</html>
