<div id="filter">
  <div class="filter-sort">
    <a class="mb-3 color-blue-primary" href="#" id="filter-nav">Filter</a>
  </div>
  <form action="#" class="mb-3" id="filter-form" method="get" th:action="@{/radars}" th:object="${radarFilter}">
    <div th:if="${#fields.hasAnyErrors()}">
      <ul>
        <li th:each="error : ${#fields.allErrors()}" th:text="${error}"/>
      </ul>
    </div>
    <label for="title">Title</label>
    <input id="title" placeholder="Title" th:field="*{title}" type="text">
    <span class="error-field-wrapper" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></span>

    <input class="check-wrapper me-1" id="filterByPrimary"
           onchange="$('#primary')[0].disabled = !this.checked;" th:field="*{filterByPrimary}" type="checkbox">
    <label for="filterByPrimary">Filter by primary</label>
    <span class="error-field-wrapper" th:errors="*{filterByPrimary}"
          th:if="${#fields.hasErrors('filterByPrimary')}"></span>

    <input class="check-wrapper me-1" disabled="true" id="primary" th:field="*{primary}" type="checkbox">
    <label for="primary">Primary</label>
    <span class="error-field-wrapper" th:errors="*{primary}" th:if="${#fields.hasErrors('filterByPrimary')}"></span>

    <input class="filter-button" type="submit" value="Filter">
  </form>
  <div class="border-grey"></div>
</div>
