<!DOCTYPE HTML>
<html th:replace="~{layouts/radar :: radar(~{::title}, ~{::meta}, ~{::script}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta name="description" content="Page description"/>
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <script th:src="@{/js/filter.min.js}"></script>
  </head>
  <body>
    <div id="content">
      <h1 class="wrapper-title">Radars</h1>
      <div class="wrapper-content" id="radars-page">
        <th:block th:replace="~{radars/filter.html}"/>
        <div th:switch="${radarDtoPage.getTotalElements()}">
          <p th:case="0">No radars.</p>
          <div th:case="*">
            <th:block th:replace="~{radars/paging.html}"/>
            <table class="table-wrapper">
              <thead>
                <tr>
                  <th th:replace="~{radars/sorting :: sorting('radarType.title','Radar type')}"></th>
                  <th th:replace="~{radars/sorting :: sorting('title','Title')}"></th>
                  <th th:replace="~{radars/sorting :: sorting('description','Description')}"></th>
                  <th th:replace="~{radars/sorting :: sorting('primary','Primary')}"></th>
                  <th th:replace="~{radars/sorting :: sorting('active','Active')}"></th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="radarDto : ${radarDtoPage.getContent()}">
                  <td th:text="${radarDto.radarTypeTitle}"></td>
                  <td th:text="${radarDto.title}"></td>
                  <td th:text="${radarDto.description}"></td>
                  <td th:text="${radarDto.primary}"></td>
                  <td th:text="${radarDto.active}"></td>
                  <td>
                    <a class="action-show" data-bs-placement="bottom" data-bs-toggle="tooltip"
                       th:href="@{/radars/show/{id}(id=${radarDto.id})}" title="Show"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
