<!DOCTYPE HTML>
<html th:replace="~{layouts/radar :: radar(~{::title}, ~{::meta}, ~{::script}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" name="description"/>
    <meta content="HTML, CSS, JavaScript" name="keywords">
    <script th:src="@{/js/d3.min.js}"></script>
    <script th:src="@{/js/radar.min.js}"></script>
  </head>
  <body>
    <div id="content">
      <svg id="radar"></svg>
      <div class="row justify-content-center">
        <div class="text-center">
          <h1 class="title color-blue-primary mb-4" th:id="name" th:text="${radarDto.title}"></h1>
          <p class="lead-banner-text grey" th:id="description" th:text="${radarDto.description}"></p>
        </div>
      </div>
      <div class="row mb-4">
        <h2 class="title color-blue-primary">Blips</h2>
        <div class="table-wrap">
          <table class="table table-home" id="blips">
            <thead>
              <tr>
                <th>Title</th>
                <th>Website</th>
                <th>Quadrant</th>
                <th>Ring</th>
                <th>Moved</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="technologyBlip : ${radarDto.getTechnologyBlipDtoList}">
                <td th:text="${technologyBlip.technologyTitle}"></td>
                <td th:text="${technologyBlip.technologyWebsite}"></td>
                <td th:text="${technologyBlip.segmentPosition}"></td>
                <td th:text="${technologyBlip.ringPosition}"></td>
                <td th:text="${technologyBlip.technologyMoved}"></td>
                <td th:text="${technologyBlip.technologyActive}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mb-4">
        <h2 class="title color-blue-primary">Segments</h2>
        <div class="table-wrap">
          <table class="table table-home" id="segments">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Position</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="segment : ${radarDto.getSegmentDtoList}">
                <td th:text="${segment.title}"></td>
                <td th:text="${segment.description}"></td>
                <td th:text="${segment.position}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mb-4">
        <h2 class="title color-blue-primary">Rings</h2>
        <div class="table-wrap">
          <table class="table table-home" id="rings">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Position</th>
                <th>Color</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="ring : ${radarDto.getRingDtoList}">
                <td th:text="${ring.title}"></td>
                <td th:text="${ring.description}"></td>
                <td th:text="${ring.position}"></td>
                <td th:text="${ring.color}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p><a class="btn-blue-wrapper" href="/radars">View all radars</a></p>
    </div>
  </body>
</html>
