<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
        <neverBlock>true</neverBlock>
    </appender>

    <root level="${logging.level.root}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
