<!DOCTYPE HTML>
<html th:replace="~{layouts/settings :: settings(~{::title}, ~{::meta}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" name="description"/>
    <meta content="HTML, CSS, JavaScript" name="keywords">
  </head>
  <body>
    <div id="content">
      <h1>Edit technology</h1>
      <form action="#" th:action="@{/settings/technology/update}" th:object="${technologyDto}" method="post">
        <th:block th:replace="~{settings/technology/fields.html}" />
        <input type="hidden" th:field="*{id}" id="id">
        <input type="submit" value="Update technology">
      </form>      
    </div>
  </body>
</html>
