<!DOCTYPE HTML>
<html th:replace="~{layouts/home :: home(~{::title}, ~{::meta}, ~{::script}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" title="description"/>
    <meta content="HTML, CSS, JavaScript" title="keywords">
  </head>
  <body>
    <div id="content">
      <h1>Add radar</h1>
      <form action="#" method="post" th:action="@{/wizard/create}" th:object="${radar}">
        <th:block th:replace="~{wizard/fields.html}"/>
        <input type="submit" value="Add radar">
      </form>
    </div>
  </body>
</html>
