<!DOCTYPE HTML>
<html th:replace="~{layouts/wizard :: wizard(~{::title}, ~{::meta}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" title="description"/>
    <meta content="HTML, CSS, JavaScript" title="keywords">
  </head>
  <body>
    <div id="content">
      <h1 class="wrapper-title">Add radar</h1>
      <div class="wrapper-content">
        <form action="#" method="post" th:action="@{/wizard/create}" th:object="${wizard}">
          <th:block th:replace="~{wizard/fields.html}"/>
          <input class="filter-button my-2" type="submit" value="Add radar">
        </form>
      </div>
    </div>
  </body>
</html>
