#{{ ansible_managed }}
[Unit]
Description=sidekiq
Wants=postgresql.service
After=network.target local-fs.target postgresql.service redis-server.service

[Service]
Type=simple
User={{ app__user }}
WorkingDirectory={{ app__current_path }}
PIDFile={{ app__shared_path }}/tmp/pids/sidekiq.pid
Environment=CONFIG={{ app__current_path }}/config/sidekiq.yml
Environment=TMPDIR={{ app__shared_path }}/tmp
SyslogIdentifier=sidekiq
StandardOutput=file:{{ app__shared_path }}/log/sidekiq.stdout.log
StandardError=file:{{ app__shared_path }}/log/sidekiq.stderr.log
TimeoutSec=5min
Restart=on-failure
RestartSec=5s
ExecStart={{ app__current_path }}/bin/sidekiq -e {{ app__rails_environment }} -C $CONFIG

[Install]
WantedBy=multi-user.target
