#{{ ansible_managed }}
[Unit]
Description=tabr
Wants=postgresql.service
After=network.target local-fs.target postgresql.service

[Service]
Type=forking
User={{ app__user }}
WorkingDirectory={{ app__current_path }}
Environment=CONFIG={{ app__current_path }}/config/puma.rb
SyslogIdentifier=tabr
TimeoutSec=5min
Restart=on-failure
RestartSec=5s
ExecStart={{ app__current_path }}/bin/puma -C $CONFIG

[Install]
WantedBy=multi-user.target
