#{{ ansible_managed }}
[Unit]
Description=unicorn
Wants=postgresql.service
After=network.target local-fs.target postgresql.service

[Service]
Type=simple
User={{ app__user }}
WorkingDirectory={{ app__current_path }}
PIDFile={{ app__shared_path }}/tmp/pids/unicorn.pid
Environment=CONFIG={{ app__current_path }}/config/unicorn.rb
Environment=TMPDIR={{ app__shared_path }}/tmp
SyslogIdentifier=unicorn
TimeoutSec=5min
Restart=on-failure
RestartSec=5s
ExecStart={{ app__current_path }}/bin/unicorn -E {{ app__rails_environment }} -D -c $CONFIG
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
