<!DOCTYPE HTML>
<html th:replace="~{layouts/settings :: settings(~{::title}, ~{::meta}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" name="description"/>
    <meta content="HTML, CSS, JavaScript" name="keywords">
  </head>
  <body>
    <div id="content">
      <div th:switch="${technologyBlipDtoPage.getTotalElements()}">
        <h1 th:case="0">No blips.</h1>
        <div th:case="*">
          <h1>Technology blips</h1>
          <div>
            <span th:if="${technologyBlipDtoPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
              <a th:href="@{/settings/technologyBlip(size=${technologyBlipDtoPage.size}, page=${pageNumber})}"
                 th:text="${pageNumber}" th:class="${pageNumber==technologyBlipDtoPage.number + 1} ? active"></a>
            </span>
          </div>
          <table>
            <thead>
              <tr>
                <th>Radar title</th>
                <th>Segment title</th>
                <th>Ring title</th>
                <th>Entry title</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="technologyBlipDto : ${technologyBlipDtoPage.getContent()}">
                <td th:text="${technologyBlipDto.radar.title}"></td>
                <td th:text="${technologyBlipDto.segment.title}"></td>
                <td th:text="${technologyBlipDto.ring.title}"></td>
                <td th:text="${technologyBlipDto.technology.title}"></td>
                <td><a th:href="@{/settings/technology_blips/show/{id}(id=${technologyBlipDto.id})}">Show</a></td>
                <td><a th:href="@{/settings/technology_blips/edit/{id}(id=${technologyBlipDto.id})}">Edit</a></td>
                <td><a th:href="@{/settings/technology_blips/delete/{id}(id=${technologyBlipDto.id})}">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p><a href="/settings/technology_blips/add">Add a new technology blip</a></p>
      </div>
    </div>
  </body>
</html>
