<!DOCTYPE HTML>
<html th:replace="~{layouts/settings :: settings(~{::title}, ~{::meta}, ~{::script}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" name="description"/>
    <meta content="HTML, CSS, JavaScript" name="keywords">
    <script th:src="@{/js/filter.min.js}"></script>
  </head>
  <body>
    <div id="content">
      <h1 class="wrapper-title">Technology blips</h1>
      <div class="wrapper-content" id="settings-technology-blips-page">
        <th:block th:replace="~{settings/technology_blips/filter.html}"/>
        <div th:switch="${technologyBlipDtoPage.getTotalElements()}">
          <p th:case="0">No technology blips.</p>
          <div th:case="*">
            <th:block th:replace="~{settings/technology_blips/paging.html}"/>
            <table class="table-wrapper">
              <thead>
                <tr>
                  <th th:replace="~{settings/technology_blips/sorting :: sorting('radar.title','Radar')}"></th>
                  <th th:replace="~{settings/technology_blips/sorting :: sorting('segment.title','Segment')}"></th>
                  <th th:replace="~{settings/technology_blips/sorting :: sorting('ring.title','Ring')}"></th>
                  <th th:replace="~{settings/technology_blips/sorting :: sorting('technology.title','Technology')}"></th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="technologyBlipDto : ${technologyBlipDtoPage.getContent()}">
                  <td th:text="${technologyBlipDto.radarTitle}"></td>
                  <td th:text="${technologyBlipDto.segmentTitle}"></td>
                  <td th:text="${technologyBlipDto.ringTitle}"></td>
                  <td th:text="${technologyBlipDto.technologyTitle}"></td>
                  <td>
                    <a class="action-show" data-bs-placement="bottom" data-bs-toggle="tooltip"
                       th:href="@{/settings/technology_blips/show/{id}(id=${technologyBlipDto.id})}" title="Show"></a>
                    <a class="action-edit" data-bs-placement="bottom" data-bs-toggle="tooltip"
                       th:href="@{/settings/technology_blips/edit/{id}(id=${technologyBlipDto.id})}" title="Edit"></a>
                    <a class="action-delete" data-bs-placement="bottom" data-bs-toggle="tooltip"
                       th:href="@{/settings/technology_blips/delete/{id}(id=${technologyBlipDto.id})}" title="Delete"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p><a class="btn-orange-wrapper" href="/settings/technology_blips/add">Add a new technology blip</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
