<!DOCTYPE HTML>
<html th:replace="~{layouts/settings :: settings(~{::title}, ~{::meta}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" name="description"/>
    <meta content="HTML, CSS, JavaScript" name="keywords">
  </head>
  <body>
    <div id="content">
      <h1>Edit tenant</h1>
      <form action="#" th:action="@{/settings/tenants/update}" th:object="${tenantDto}" method="post">
        <div th:if="${#fields.hasAnyErrors()}">
          <ul>
            <li th:each="error : ${#fields.allErrors()}" th:text="${error}" />
          </ul>
        </div>
        <input type="hidden" th:field="*{id}" id="id">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Title">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        <label for="email">Description</label>
        <input type="text" th:field="*{description}" id="email" placeholder="Description">
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        <input type="submit" value="Update tenant">
      </form>      
    </div>
  </body>
</html>
