<!DOCTYPE HTML>
<html th:replace="~{layouts/settings :: settings(~{::title}, ~{::meta}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" name="description"/>
    <meta content="HTML, CSS, JavaScript" name="keywords">
  </head>
  <body>
    <div id="content">
      <h1 class="wrapper-title">Tenants</h1>
      <div id="settings-tenants-page" class="wrapper-content">
        <th:block th:replace="~{settings/tenants/filter.html}" />
        <div th:switch="${tenantDtoPage.getTotalElements()}">
          <p th:case="0">No tenants.</p>
          <div th:case="*">
            <th:block th:replace="~{settings/tenants/paging.html}" />
            <table class="table-wrapper">
              <thead>
                <tr>
                <tr>
                  <th th:replace="settings/tenants/sorting :: sorting('title','Title')"></th>
                  <th th:replace="settings/tenants/sorting :: sorting('description','Description')"></th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tenantDto : ${tenantDtoPage.getContent()}">
                  <td th:text="${tenantDto.title}"></td>
                  <td th:text="${tenantDto.description}"></td>
                  <td>
                    <a th:href="@{/settings/tenants/show/{id}(id=${tenantDto.id})}" class="action-show" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show"></a>
                    <a th:href="@{/settings/tenants/edit/{id}(id=${tenantDto.id})}" class="action-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"></a>
                    <a th:href="@{/settings/tenants/delete/{id}(id=${tenantDto.id})}" class="action-delete" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p><a href="/settings/tenants/add" class="btn-orange-wrapper">Add a new tenant</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
