<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
    <a class="d-flex align-items-center pt-3 pb-3 mb-md-0 me-md-auto color-blue-primary text-decoration-none sidebar-title"
       href="/accounts/profiles">
      <span class="fs-5 d-none d-sm-inline">Settings</span>
    </a>
    <div class="border-grey"></div>
    <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="sidebar-item">
        <a class="sidebar-link align-middle px-0" href="/accounts/profiles">
          <span class="ms-1 d-none d-sm-inline">Profile</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link align-middle px-0" href="/accounts/notifications">
          <span class="ms-1 d-none d-sm-inline">Notifications</span>
        </a>
      </li>
    </ul>
    <hr>
    <div class="border-grey"></div>
    <div class="dropdown pt-3 pb-3">
      <a aria-expanded="false" class="d-flex align-items-center text-decoration-none dropdown-toggle sidebar-link"
         data-bs-toggle="dropdown"
         href="#" id="dropdownUser1">
        <img alt="hugenerd" class="rounded-circle" height="30" src="https://github.com/mdo.png" width="30">
        <span class="d-none d-sm-inline mx-1">loser</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Sign in</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
