<ul class="nav nav-tabs">
  <li class="nav-item">
    <a aria-current="page" class="nav-link active" href="/dashboard"
       th:if="${#strings.startsWith(servletPath,'/dashboard')}">Dashboard</a>
    <a class="nav-link" href="/dashboard"
       th:unless="${#strings.startsWith(servletPath,'/dashboard')}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a aria-current="page" class="nav-link active" href="/settings/tenants"
       th:if="${#strings.startsWith(servletPath,'/settings')}">Settings</a>
    <a class="nav-link" href="/settings/tenants"
       th:unless="${#strings.startsWith(servletPath,'/settings')}">Settings</a>
  </li>
</ul>
