<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <a class="navbar-brand" href="#!">Technical and business radar</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav ms-auto">
        <li class="navbar-item"><a class="nav-link" th:href="@{/}" th:text="#{metamenu.home}"/></li>
        <li class="navbar-item"><a class="nav-link" th:href="@{/radars}" th:text="#{metamenu.radar}"/></li>
        <block th:if="${#arrays.contains(@environment.getActiveProfiles(),'dev')}">
          <li class="navbar-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarEntitiesLink" role="button" th:text="#{metamenu.account}"/>
            <ul aria-labelledby="navbarEntitiesLink" class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" th:href="@{/accounts/profiles}" th:text="#{metamenu.signin}"/></li>
              <li><a class="dropdown-item" th:href="@{/accounts/profiles}" th:text="#{metamenu.profile}"/></li>
              <li><a class="dropdown-item" th:href="@{/accounts/profiles}" th:text="#{metamenu.settings}"/></li>
              <li><a class="dropdown-item" th:href="@{/accounts/profiles}" th:text="#{metamenu.signout}"/></li>
              <li><a class="dropdown-item" th:href="@{https://docs.a5lab.com}" th:target="_blank"
                     th:text="#{metamenu.docs}"/></li>
            </ul>
          </li>
        </block>
      </ul>
    </div>
  </div>
</nav>
