<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
    <a class="d-flex align-items-center pt-3 pb-3 mb-md-0 me-md-auto color-blue-primary text-decoration-none sidebar-title"
       href="/settings/tenants">
      <span class="fs-5 d-none d-sm-inline ">Settings</span>
    </a>
    <div class="border-grey"></div>
    <ul class="nav flex-column mb-sm-auto mb-0 pt-2 align-items-center align-items-sm-start" id="menu">
      <li class="sidebar-item">
        <a class="sidebar-link align-middle px-0 sidebar-active" href="/settings/tenants"
           th:if="${#strings.startsWith(servletPath,'/settings/tenants')}">
          <span class="ms-1 d-none d-sm-inline">Tenants</span>
        </a>
        <a class="sidebar-link align-middle px-0" href="/settings/tenants"
           th:unless="${#strings.startsWith(servletPath,'/settings/tenants')}">
          <span class="ms-1 d-none d-sm-inline">Tenants</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link align-middle px-0 sidebar-active" href="/settings/technologies"
           th:if="${#strings.startsWith(servletPath,'/settings/technologies')}">
          <span class="ms-1 d-none d-sm-inline">Technologies</span>
        </a>
        <a class="sidebar-link align-middle px-0" href="/settings/technologies"
           th:unless="${#strings.startsWith(servletPath,'/settings/technologies')}">
          <span class="ms-1 d-none d-sm-inline">Technologies</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link align-middle px-0 sidebar-active" href="/settings/radars"
           th:if="${#strings.startsWith(servletPath,'/settings/radars')}">
          <span class="ms-1 d-none d-sm-inline">Radars</span>
        </a>
        <a class="sidebar-link align-middle px-0" href="/settings/radars"
           th:unless="${#strings.startsWith(servletPath,'/settings/radars')}">
          <span class="ms-1 d-none d-sm-inline">Radars</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link align-middle px-0 sidebar-active" href="/settings/rings"
           th:if="${#strings.startsWith(servletPath,'/settings/rings')}">
          <span class="ms-1 d-none d-sm-inline">Rings</span>
        </a>
        <a class="sidebar-link align-middle px-0" href="/settings/rings"
           th:unless="${#strings.startsWith(servletPath,'/settings/rings')}">
          <span class="ms-1 d-none d-sm-inline">Rings</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link align-middle px-0 sidebar-active" href="/settings/segments"
           th:if="${#strings.startsWith(servletPath,'/settings/segments')}">
          <span class="ms-1 d-none d-sm-inline">Segments</span>
        </a>
        <a class="sidebar-link align-middle px-0" href="/settings/segments"
           th:unless="${#strings.startsWith(servletPath,'/settings/segments')}">
          <span class="ms-1 d-none d-sm-inline">Segments</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link align-middle px-0 sidebar-active" href="/settings/technology_blips"
           th:if="${#strings.startsWith(servletPath,'/settings/technology_blips')}">
          <span class="ms-1 d-none d-sm-inline">Technology blips</span>
        </a>
        <a class="sidebar-link align-middle px-0" href="/settings/technology_blips"
           th:unless="${#strings.startsWith(servletPath,'/settings/technology_blips')}">
          <span class="ms-1 d-none d-sm-inline">Technology blips</span>
        </a>
      </li>
    </ul>
    <hr>
  </div>
</div>

