<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
       href="/settings/tenant">
      <span class="fs-5 d-none d-sm-inline">Settings</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a class="nav-link align-middle px-0 active" href="/settings/tenant"
           th:if="${#strings.startsWith(servletPath,'/settings/tenant')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Tenants</span>
        </a>
        <a class="nav-link align-middle px-0" href="/settings/tenant"
           th:unless="${#strings.startsWith(servletPath,'/settings/tenant')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Tenants</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link align-middle px-0 active" href="/settings/technology"
           th:if="${#strings.startsWith(servletPath,'/settings/technology')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Entries</span>
        </a>
        <a class="nav-link align-middle px-0" href="/settings/technology"
           th:unless="${#strings.startsWith(servletPath,'/settings/technology')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Entries</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link align-middle px-0 active" href="/settings/radar"
           th:if="${#strings.startsWith(servletPath,'/settings/radar')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Radars</span>
        </a>
        <a class="nav-link align-middle px-0" href="/settings/radar"
           th:unless="${#strings.startsWith(servletPath,'/settings/radar')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Radars</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link align-middle px-0 active" href="/settings/ring"
           th:if="${#strings.startsWith(servletPath,'/settings/ring')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Rings</span>
        </a>
        <a class="nav-link align-middle px-0" href="/settings/ring"
           th:unless="${#strings.startsWith(servletPath,'/settings/ring')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Rings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link align-middle px-0 active" href="/settings/segment"
           th:if="${#strings.startsWith(servletPath,'/settings/segment')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Segments</span>
        </a>
        <a class="nav-link align-middle px-0" href="/settings/segment"
           th:unless="${#strings.startsWith(servletPath,'/settings/segment')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Segments</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link align-middle px-0 active" href="/settings/technologyBlip"
           th:if="${#strings.startsWith(servletPath,'/settings/technologyBlip')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Blips</span>
        </a>
        <a class="nav-link align-middle px-0" href="/settings/technologyBlip"
           th:unless="${#strings.startsWith(servletPath,'/settings/technologyBlip')}">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Blips</span>
        </a>
      </li>
    </ul>
    <hr>
  </div>
</div>

