<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
       href="/settings/tenants">
      <span class="fs-5 d-none d-sm-inline">Settings</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a class="nav-link align-middle px-0" href="/settings/tenants">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Tenants</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link align-middle px-0" href="/settings/radars">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Radars</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link align-middle px-0" href="/settings/rings">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Rings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link align-middle px-0" href="/settings/segments">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Segments</span>
        </a>
      </li>
      <li>
        <a class="nav-link px-0 align-middle" data-bs-toggle="collapse" href="#submenu1">
          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Radars</span> </a>
        <ul class="collapse show nav flex-column ms-1" data-bs-parent="#menu" id="submenu1">
          <li class="w-100">
            <a class="nav-link px-0" href="#">Radars</a>
          </li>
          <li>
            <a class="nav-link px-0" href="#">Rings</a>
          </li>
          <li>
            <a class="nav-link px-0" href="#">Segments </a>
          </li>
        </ul>
      </li>
    </ul>
    <hr>
  </div>
</div>

