<!DOCTYPE HTML>
<html th:replace="~{layouts/settings :: settings(~{::title}, ~{::meta}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard title</title>
    <meta content="Page description" title="description"/>
    <meta content="HTML, CSS, JavaScript" title="keywords">
  </head>
  <body>
    <div id="content">
      <h1 class="wrapper-title">Add technology</h1>
      <div class="wrapper-content">
        <form action="#" th:action="@{/settings/technologies/create}" th:object="${technologyDto}" method="post">
          <th:block th:replace="~{settings/technologies/fields.html}" />
          <input class="filter-button my-2" type="submit" value="Add technology">
        </form>
      </div>
    </div>
  </body>
</html>
