<div th:if="${#fields.hasAnyErrors()}">
  <ul>
    <li th:each="error : ${#fields.allErrors()}" th:text="${error}" />
  </ul>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-6 my-1">
    <label for="title" class="label-field">Title</label>
    <input type="text" th:field="*{title}" id="title" class="field-wrapper" placeholder="Title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-6 my-1">
    <label for="website" class="label-field">Website</label>
    <input type="text" th:field="*{website}" id="website" class="field-wrapper" placeholder="">
    <span th:if="${#fields.hasErrors('website')}" th:errors="*{website}"></span>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-6 my-1">
    <label for="description" class="label-field">Description</label>
    <input type="text" th:field="*{description}" id="description" class="field-wrapper" placeholder="Description">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
  </div>
  <div class="col-xl-4 col-lg-5 col-md-6 my-1">
    <label for="moved" class="label-field">Moved</label>
    <input type="text" th:field="*{moved}" id="moved" class="field-wrapper" placeholder="0">
    <span th:if="${#fields.hasErrors('moved')}" th:errors="*{moved}"></span>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-6 my-1">
    <input type="checkbox" th:field="*{active}" id="active" class="check-wrapper me-1">
    <label for="active">Active</label>
    <span th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></span>
  </div>
</div>