<!DOCTYPE HTML>
<html th:replace="~{layouts/account :: account(~{::title}, ~{::meta}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Profile title</title>
    <meta name="description" content="Page description"/>
    <meta name="keywords" content="HTML, CSS, JavaScript">
  </head>
  <body>
    <div id="content">
      <div id="account-profiles-page">
        <h1 class="wrapper-title">Profile</h1>
        <div class="wrapper-content"></div>
      </div>
    </div>
  </body>
</html>
