/* Content list styles
 *   Common layout styles
 *   Common primitives styles
 *   Main header styles
 *   Main footer styles
 *   Tabbar styles
 *   Sidebar styles
 *   Filter styles
 *   Wrapper styles
 *   Table and paging styles
 *   Home page styles
 */


/* =Common layout styles
 * This section contains
 * X
 */

/* =Common primitives styles
 * This section contains
 * X
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-family: 'Rubik', sans-serif;
}

.color-blue-primary {
  color: #0F054C;
}

.color-green-light {
  color: #94F3F0;
}

.grey {
  color: #888888;
}

a.active, a.nav-link:hover{
  color: #42E8E0 !important;
}

.btn-primary-basic {
  background: #42E8E0;
  border: 2px solid #42E8E0;
  color: #0F054C;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 24px;
}

.btn-primary-basic:hover {
  border: 2px solid #42E8E0;
  color: #42E8E0;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 24px;
}

.full-container {
  padding: 0 !important;
}

.border-grey {
  border-bottom: 1px solid #e2e8eb;
  width: 100%;
}

/* =Main header styles
 * This section contains
 * X
 */

.navbar {
  background: #0F054C;
}

#header {
  height: 100%;
  width: 100%;
  background: url("../images/backgrounds/header_background_axion.svg") center/cover no-repeat, radial-gradient(39.81% 39.81% at 50% 60.19%, #2B237C 0%, #251C72 26.04%, #0F054C 100%);
  overflow:hidden;
  padding: 1.5rem 0 8rem 0;
}

.lead-banner-text {
    font-size: 1.2rem;
}

.promo-img {
  display:block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: -120px;
}

.promo-text {
  margin-top: -100px;
  margin-bottom: 3rem;
}

/* =Main footer styles
 * This section contains
 * X
 */

#footer {
  background: #050218;
}

.footer-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 8px;
}

.copyright {
  text-align: right;
}

@media all and (max-width: 767px) {
  .copyright {
    text-align: left;
  }
}

/* =Tabbar styles
 * This section contains
 * X
 */

.tabbar {
  border-bottom: 1px solid #E2E8EB;
}

a.tab-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #888888;
}

a.tab-link:hover {
  color: #42e8e0 !important;
}

a.active-link {
  border-radius: 0;
  background: #0F054C;
  color: #FFFFFF !important;
}

/* =Sidebar styles
 * This section contains
 * X
 */

.sidebar-title {
  font-weight: bold;
}

.sidebar-title:hover {
  color: #0F054C !important;
}

.sidebar-item {
  padding: 8px 0;
}

a.sidebar-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

a.sidebar-link:hover {
  color: #0F054C !important;
}

.sidebar-active {
  color: #0F054C !important;
  font-weight: bold;
}

.sidebar-active::before{
  content: '';
  background: url("../images/arrows/right_axion.svg") no-repeat;
  width: 16px;
  height: 16px;
  padding-right: 16px;
}

.sidebar-active:focus, .sidebar-active:active{
  padding-right: 0;
}

/* =Filter styles
 * This section contains
 * X
 */

#filter-nav {
  text-decoration: none;
  display:inline-block;
}

#filter-nav:hover {
  color: #42e8e0 !important;
}

#filter-nav::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: '';
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.filter-button {
  background: #0F054C;
  color: #FFFFFF;
  border: 1px solid #0F054C;
  border-radius: 2px;
  padding: 2px 8px;
}

.filter-button:hover, .filter-button:focus, .filter-button:active {
  background:#FFFFFF;
  color: #0F054C;
}

/* =Wrapper styles
 * This section contains
 * X
 */

.wrapper-block {
  background: #F0F6FF;
}

.wrapper-title {
  font-size: 1.5em;
  padding: 0.3em 0;
}

.wrapper-content {
  background: #FFFFFF;
  border: 1px solid #E2E8EB;
  border-radius: 4px;
  padding: 1em;
}

.label-field {
  display: block;
  font-size: 0.9rem;
  color: #888888;
}

.field-wrapper {
  height: 30px;
  border: 1px solid #888888;
  border-radius: 0.1rem;
  min-width: 200px;
  width: 100%;
}

.check-wrapper {
  height: 1rem;
  width: 1rem;
}

.ul-show-wrapper {
  background: #f0f6ff;
  border: 1px solid #f0f6ff;
  border-radius: 4px;
  padding: 0 1em;
}

.ul-show-wrapper li {
  padding: 0.5em 0;
  border-bottom: 1px solid #e2e8eb;
  list-style-type: none;
}

.ul-show-wrapper li:last-child {
  border-bottom: none;
}

.ul-show-wrapper li p {
  margin-bottom: 0.5em;
}

.ul-show-wrapper li p:first-child {
  color: #888;
  font-size: 0.9em;
}

.btn-blue-wrapper {
  background: #0F054C;
  color: #FFFFFF;
  border: 1px solid #0F054C;
  border-radius: 2px;
  padding: 2px 8px;
  text-decoration: none;
}

.btn-blue-wrapper:hover {
  background: #FFFFFF;
  color: #0F054C;
}

.btn-orange-wrapper {
  background: #FFFFFF;
  color: #C65D0C;
  border: 1px solid #C65D0C;
  border-radius: 2px;
  padding: 2px 8px;
  text-decoration: none;
}

.btn-orange-wrapper:hover {
  background: #C65D0C;
  color: #FFFFFF;
}

.error-wrapper {
  border: 1px solid red;
  border-radius: 4px;
  padding: 0.5em;
  background: #FFE7E7;
  margin-bottom: 1em;
}
.error-wrapper ul {
  margin-bottom: 0;
}

.error-field-wrapper {
  font-size: 0.9em;
  color: red;
}

/* =Table and paging styles
 * This section contains
 * X
 */

.paging-number-wrapper {
  display: inline-block;
  padding-right: 0.5em;
}

.paging-number-wrapper a {
  text-decoration: none;
  font-size: 1em;
  color: #888888 !important;
}

.paging-number-wrapper a:hover, .paging-number-wrapper a:focus {
  color: #0F054C !important;
}

.paging-number-wrapper a.active {
  color: #0F054C !important;
}

.table-wrapper {
  width: 100%;
  margin-bottom: 2em;
  border: 1px solid #e2e8eb;
  border-collapse: collapse;
}

.table-wrapper th {
  font-weight: bold;
  color: #888888;
  padding: 0.5em;
  background: #f0f6ff;
  border: 1px solid #e2e8eb;
}

.table-wrapper th a {
  text-decoration: none;
  font-weight: bold;
  color: #888888;
}

.table-wrapper td {
  border: 1px solid #e2e8eb;
  padding: 0.5em 0.5em 0.2em 0.5em;
  vertical-align: top;
  line-height: 1.3em;
}

.table-action {
  display:flex;
  gap: 0.5em;
}

a.action-show, a.action-edit, a.action-delete {
  width: 32px;
  height: 32px;
  padding: 0.5em;
  border: 1px solid #e2e8eb;
  border-radius: 2px;
  display: inline-block;
}

a.action-show {
  background: url("../images/actions/show_axion.svg") center no-repeat;
}

a.action-edit {
  background: url("../images/actions/edit_axion.svg") center no-repeat;
}

a.action-delete {
  background: url("../images/actions/delete_axion.svg") center no-repeat;
}

a.action-show:hover, a.action-edit:hover, a.action-delete:hover {
  background-color: #42E8E0;
}

/* =Home page styles
 * This section contains
 * X
 */

#maintain {
  height: 100%;
  width: 100%;
  background: url("../images/backgrounds/maintain_background_axion.svg") center/cover no-repeat, #E6E2FF;
  overflow:hidden;
}

.text-vertical-center {
  display: flex;
  align-items: center;
}

.maintain-img {
  width: 90%;
  height: auto;
  top: 0;
  left: 0;
}

@media all and (max-width: 767px) {
  .maintain-img {
    min-width: 320px;
  }
}

.table-wrap {
  border: 1px solid #E2E8EB;
  border-radius: 16px;
}

.table-home {
  margin-bottom: -1px !important;
}

.table-home th {
  color: #888888;
}

.table-home thead, tr {
  border-bottom: 1px solid #E2E8EB !important;
}

.table-home tbody tr:last-child {
  border-bottom: none;
}