<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/_welcome}">
<head>
    <title th:text="#{home.index.headline}" />
    <link th:href="@{/css/radar.css}" rel="stylesheet"/>
    <script th:src="@{/js/d3.min.js}" defer></script>
    <script th:src="@{/js/radar.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{home.index.headline}" class="mb-4" />
    <p th:utext="#{home.index.text}" class="mb-5" />
    <div class="col-md-4 mb-5">
        <h4 th:text="#{home.index.explore}" class="mb-3" />
        <div class="list-group">
            <a th:href="@{/techstack}" th:text="#{navigation.radar.stack}" class="list-group-item list-group-item-action" />
            <a th:href="@{/demo}" th:text="Demo" class="list-group-item list-group-item-action" />
        </div>
    </div>
</div>
</body>
</html>
