<!DOCTYPE HTML>
<html th:replace="~{layouts/home :: home(~{::title}, ~{::meta}, ~{::script}, ~{:: #content})}"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home title</title>
    <meta content="Page description" name="description"/>
    <meta content="HTML, CSS, JavaScript" name="keywords">
    <script th:src="@{/js/d3.min.js}"></script>
    <script th:src="@{/js/home.min.js}"></script>
  </head>
  <body>
    <div id="content">
      <div id="home-page">
        <div th:switch="${radarDto}">
          <div th:case="null">
            <header id="header">
              <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                  <div class="col-lg-8">
                    <div class="text-center my-5">
                      <h1 class="display-5 fw-bolder text-white mb-4 title">NO TERRA INCOGNITA!</h1>
                      <h2 class="color-green-light">No primary radar?</h2>
                      <p class="lead-banner-text text-white mb-4">Create the primary radar to view it at home page.</p>
                      <a class="btn btn-primary-basic btn-lg px-4 me-sm-3" href="/wizard/add">Create primary radar</a>
                    </div>
                  </div>
                </div>
              </div>
            </header>
            <div class="container">
              <img class="promo-img" src="/images/promos/laptop_radar_axion.svg"/>
              <div class="row justify-content-center">
                <div class="col-lg-8 text-center promo-text">
                  <h2 class="title color-blue-primary mb-4">WHAT IS THE PURPOSE?</h2>
                  <p class="lead-banner-text">
                    The Tech Radar is a tool to inspire and support Engineering teams to pick the best technologies for
                    new projects; it provides a platform to share knowledge and experience in technologies, to reflect
                    on technology decisions and continuously evolve our technology landscape.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div th:case="*">
            <svg id="radar"></svg>
            <div class="container py-5">
              <div class="row justify-content-center">
                <div class="text-center">
                  <h1 class="title color-blue-primary mb-4" th:id="name" th:text="${radarDto.title}"></h1>
                  <p class="lead-banner-text grey" th:id="description" th:text="${radarDto.description}"></p>
                </div>
              </div>
              <div class="row mb-4">
                <h2 class="title color-blue-primary">Blips</h2>
                <div class="table-wrap">
                  <table class="table table-home" id="blips">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Website</th>
                        <th>Quadrant</th>
                        <th>Ring</th>
                        <th>Moved</th>
                        <th>Active</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="technologyBlip : ${radarDto.getTechnologyBlipList}">
                        <td th:text="${technologyBlip.technologyTitle}"></td>
                        <td th:text="${technologyBlip.technologyWebsite}"></td>
                        <td th:text="${technologyBlip.segmentPosition}"></td>
                        <td th:text="${technologyBlip.ringPosition}"></td>
                        <td th:text="${technologyBlip.technologyMoved}"></td>
                        <td th:text="${technologyBlip.technologyActive}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row mb-4">
                <h2 class="title color-blue-primary">Segments</h2>
                <div class="table-wrap">
                  <table class="table table-home" id="segments">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Position</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="segment : ${radarDto.getSegmentList}">
                        <td th:text="${segment.title}"></td>
                        <td th:text="${segment.description}"></td>
                        <td th:text="${segment.position}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row mb-4">
                <h2 class="title color-blue-primary">Rings</h2>
                <div class="table-wrap">
                  <table class="table table-home" id="rings">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Position</th>
                        <th>Color</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="ring : ${radarDto.getRingList}">
                        <td th:text="${ring.title}"></td>
                        <td th:text="${ring.description}"></td>
                        <td th:text="${ring.position}"></td>
                        <td th:text="${ring.color}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="py-5" id="maintain">
            <div class="container">
              <div class="row">
                <h2 class="title color-blue-primary text-center mb-4">HOW DO WE MAINTAIN IT?</h2>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 text-vertical-center px-5">
                  <p>The Tech Radar is maintained by our <em>Principal Engineers</em> &mdash; who facilitate and drive
                    the technology selection discussions at company. Assignment of technologies to rings is the outcome
                    of ring change proposals, which are discussed and voted on.</p>
                </div>
                <div class="col-lg-5 col-md-6">
                  <img class="maintain-img py-3" src="/images/promos/laptop_maintain_axion.svg"/>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 d-none d-md-block">
                  <img class="maintain-img py-3" src="/images/promos/engineers_maintain_axion.svg"/>
                </div>
                <div class="col-lg-5 col-md-6 text-vertical-center px-5">
                  <p>The Tech Radar is open for contribution for all engineers and depends on their active
                    participation to share lessons learned, pitfalls, and contribute to good practices on using
                    the technologies.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
