#{{ ansible_managed }}
#
# Sample configuration file for Sidekiq.
#
# Options here can still be overridden by cmd line args.
# Place this file at config/sidekiq.yml and Sidekiq will
# pick it up automatically.
#
# Sidekiq will run this file through ERB when reading it so you can
# even put in dynamic logic, like a host-specific queue.
# http://www.mikeperham.com/2013/11/13/advanced-sidekiq-host-specific-queues/
#
---
:verbose: false
:concurrency: 25
:timeout: 25

#
# Queues priorities
# * critical - jobs related to new user handling
# * high - jobs related to plan processing
# * major - jobs related to normal operating
# * medium - jobs related to clearance expired data
# * low - jobs related to very unimportant tasks
#
:queues:
  - [critical, 5]
  - [high, 4]
  - [major, 2]
  - [medium, 2]
  - [low, 1]
